.container {
    width: 500px;
}

div.thumbnail div.caption {
    height: 100px;
}

nav > div.container {
    width: inherit;
}

textarea {
    /*width: 470px;
    max-width: 470px;
    height: 125px;
    max-height: 125px;*/
    resize: none;
}

input#filename {
    border: 0;
    padding: 0;
    margin: 0;
}